__pycache__/
data/trees/*
data/input/*
!data/trees/orig
!data/trees/split
!data/trees/arterial
!data/trees/regDone
data/figures/*
data/meshes/*
data/tmp/*
**/slurm.sh
python/attic
_skipped.*
*.png
*.ini
*.mesh
*.vtk